.grubbsContent {
  background-color: #fafafa;
  padding: 20px 0;
}
.grubbsButtons {
  padding-top: 60px;
}
.grubbsHeader {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  display: inline;
}
.grubbsBlockquote {
  font-size: 14px;
  color: #666;
}
#resultTable {
  overflow-x: auto;
}
.bg-danger {
  background-color: #f2dede !important;
}
